.result-wrap {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #c1c1c1;

  gap: 15px;
  align-items: center;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  max-height: 200px;
  /* overflow: hidden; */
  overflow-y: auto;
}
.answer{
    width: 80%;
    padding: 2px;
    text-align: center;
}
.answer:hover{
    background-color: #c1c1c1;
    border-radius: 5px;
    cursor: pointer;
}